elastic.host=localhost
elastic.port=9200
elastic.scheme=http
elastic.user=
elastic.password=
elastic.keystore.path=
elastic.keystore.password=

data.create_index_if_not_exist=true
data.send_interval_value=1
data.send_interval_unit=SECONDS
data.index_rotation=DAILY
data.index_name=aerondriver

data.health_check.enabled=false

data.driver_metrics.enabled=true

data.channel_stats.enabled=false

data.event_logs.enabled=false

data.error_stats.enabled=false